@media all and (max-width: 1050px) {

  #primary-links ul li{
    margin-right:3.4%;
  }
}

@media all and (max-width: 860px) {

 .footer-wrapper ul.menu {

    padding:0 0 0 0;
    background: none;
}

}


@media all and (max-width: 790px) {

  #primary-links ul li{
    margin-right:2%;
  }

}

@media all and (max-width: 730px) {

  #primary-links ul li{
    margin-right:1.1%;
  }

  .footer-wrapper{
    height: auto;
  }

}

@media all and (max-width: 667px) {

/*  *Case/contact list styling**/
  .view-id-silvia_taxonomy_terms .views-row,
  .view-id-case .views-row,
  .view-id-staff .views-row{
    margin: 0.9%;
    padding: 1%;
    width: 48.2%;
  }
  .view-case {
    width: auto;
  }

  .node-type-case .container-12 .grid-9 {
    clear: both;
    float: none;
    display: block;
    width: auto;
  }
  .node-type-case .container-12 .case-tag-exist aside.grid-3 {
    outline 2px solid red;
    float: none;
    display: block;
    width: auto;
    margin: 0 !important;
    padding: 0;
    margin-top: 0;
    position: static;
    clear: both;
  }

  .node-type-case .case-tag-exist h1,
  .node-type-case .case-tag-exist .pane-node-field-case-body .pane-content .field .field-items,
  .node-type-case .case-tag-exist .pane-node-field-case-body .pane-content .field {
    padding-right: 0;
    background: transparent;
  }

  .footer-wrapper ul.menu {
    padding-bottom: 15px;
  }

  .main{
    margin-top: 0px;
  }

  .main .main-inner{
    border: none;

  }

  .main .container-12 .container-inner #border-left,
  .main .container-12 .container-inner #border-right{
    background: none; 
  }

  .container-12 .grid-12, .closure .footer .footer-inner{
    width: 98%;
  }

  .container-12{

    width: 98%;
  }

  .header{
    padding: 0;
  }

  .header .navigation{
    background: none;
    outline: none;
    border-bottom: 6px solid rgba(237, 188, 218, 0.7);
    width: auto;
    margin: 0;
    padding: 0;

  }

  .header .navigation .grid-12{
    background: #FFFFF6;
    margin: 0;
    width: auto;
    float: none;
    padding: 11px;
  }

}

@media all and (max-width: 592px) {

 .footer-wrapper .panel-pane{
    margin-bottom:20px;
  }
}

@media all and (max-width: 560px) {
  .pane-page-logo{
    margin: 0 4% 0 2%;
    width: 25%;
  }

  #primary-links {
      width: 65%;
      margin: -1% 0 0 1%;
  }
  #primary-links ul {
      text-align: left;
  }

  #primary-links ul li {
      display: block;

  }

}

@media all and (max-width: 412px) {

 .footer-wrapper .panel-pane{
  margin-right:35px;

}
}
/** .pane-aggregator-feed-1**/
@media all and (max-width: 398px) {

 .footer-wrapper .pane-pladder-jidder-panel-pane-1,
 .footer-wrapper .social-links{
    width: 100%;
  }
}

@media all and (max-width: 333px) {

  /*Case/contact list styling*/
  .view-id-silvia_taxonomy_terms .views-row,
  .view-id-case .views-row,
  .view-id-staff .views-row{
    margin: 1.7%;
    padding: 1.7%;
    width: 97%;
  }
  .view-id-silvia_taxonomy_terms .views-field-title,
  .view-id-case .views-field-title{
	display: block;
}


}
